#derecha{
	font-style: italic;
	text-align: right;
}
#tachado{
	text-decoration: line-through;
	text-transform: uppercase;
}
#grande{
	font-size: 1.2em;
	font-family: Arial;
}
#sombra{
	font-weight: bold;
	text-shadow: -2px 4px 2px green;
}
.div{
	display: ;
	margin: 0;
	height: 170px;
	width: 370px;
	border-radius: 10px;
}
#div1{
	background-color: lightgreen;
}
#div2{
	background-color: lightblue;
}
#div3{
	background-color: plum;
}
div div{
	color: white;
	text-decoration: underline;
	width: 100px;
	height: 40px;
}
.rojo{
	background-color: darkred;
}
.verde{
	background-color: green;
}
.azul{
	background-color: blue;
}
#div1 div{
	display: inline-block;
}
#div3 div{
	display: inline-block;
	width: auto;
}